@model IEnumerable<TicketBus.Models.Voyage>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TicketBus!</h1>
    <p class="lead">TicketBus is dedicated to covering a piece of the bus tickets sales cycle.</p>
</div>

@if (Request.IsAuthenticated)
{
    using (Ajax.BeginForm("SearchResult", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <div class="row">
            <h2>Voyage selection</h2>
                <div class="col-md-3">
                    <p>Departure bus stop</p>
                    <div class="">
                        <input class="form-control" type="text" name="first" id="autoComplete" size="40">
                    </div>
                </div>
            <div class="col-md-3">
                <p>Arrival bus stop</p>
                <div class="">
                    <input class="form-control" type="text" name="second" id="autoComplete1" size="40">
                </div>
            </div>
            @*<div class="col-md-3">
                <p>Departure date</p>
                <div class="">
                    <input class="form-control date-picker" type="text" name="date" size="40">
                </div>
            </div>*@
        </div>
        <div class="">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>      
    }
    <div id="results">     
    </div>

}