@model IEnumerable<TicketBus.Models.Voyage>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TicketBus!</h1>
    <p class="lead">TicketBus is dedicated to covering a piece of the bus tickets sales cycle.</p>
    @if (!Request.IsAuthenticated)
    {
        <p class="lead">Please, @Html.ActionLink("Register", "Register") or @Html.ActionLink("Log in", "LogIn").</p>
    }   
</div>

@if (Request.IsAuthenticated)
{
    using (Ajax.BeginForm("SearchResult", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <div>
            <h2>Voyage selection</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Departure bus stop</p>
                <div>
                    <input class="form-control" type="text" name="first" id="autoComplete" size="40">
                </div>
            </div>
            <div class="col-md-3">
                <p>Arrival bus stop</p>
                <div>
                    <input class="form-control" type="text" name="second" id="autoComplete1" size="40">
                </div>
            </div>
            <div class="col-md-3">
                <p>Departure date</p>
                <div>
                    <input class="form-control" type="text" name="date" id="date-picker" size="40">
                </div>
            </div>
            <div class="col-md-3 btn-margin">
                <div>
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </div>
            </div>  
        </div>   
    }
    <div class="block-margin" id="results">     
    </div>
}